{% extends 'base.html' %}
{% block content %}
<div class="aa">
   <h3> Welcome to the Software Science Blog</h3>
        <p>As developers on this blog, you can share your 
            blog posts and help people.</p>
            <p>
                
                {% if request.user.is_authenticated %}
                Hello,welcome,{{request.user.username}}
                    {% else %}
                    please come in
                {% endif %}
                    
            </p>
</div>
{% endblock %}